
h1{
    text-align: center;
    font-family: Grenze Gotisch;

   
}
h3 {
    font-family: Grenze Gotisch;
    text-align: center;
}

li {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    
}
body {
    background-color:#ccbb8d ;

}
.inline {
    display: inline;
}
article {
    font-size: medium;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: black;
}
/* table, th, td {
    border: 1px solid black;
    vertical-align: center;
    padding: 5px;
    

  } */
  #table5 {
    border: 1px solid black;
    vertical-align: center;
    padding: 5px;
      background-color: pink;
  }
  table {
      margin: 50px;
  }
 table tr:nth-child(even) {background-color: #f2f2f2;}


 a:link, a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 50px;
}

form {
    font-family: 'Raleway', sans-serif;
 
}
input {
    width: 100%;
   border: none;
  border-bottom: 2px solid blue;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 12px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  